* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Inconsolata", monospace;
}

:root {
  --color-1: #253744;
  --color-2: #2e151B;
  --color-3: #DA7B93;
  --color-4: #376E6F;
  --color-5: #1C3334;
  --color-6: rgba(204, 148, 204, 0.897);
}

body {
  font-family: "Inconsolata", monospace;
  background: black;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

header {
  height: 100vh;
  color: white;
  overflow: hidden;
}

.section {
  transform: translateY(-100%);
  transition: all 0.4s ease-in-out;
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: yellowgreen;
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  -webkit-animation: scaleAnim 3s ease-in-out;
          animation: scaleAnim 3s ease-in-out;
}
@-webkit-keyframes scaleAnim {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes scaleAnim {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.pages {
  position: fixed;
  z-index: 0;
  top: 55%;
  left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-60%);
}
.pages .active-btn {
  background-color: #DA7B93 !important;
  transition: all 1 ease-in-out;
}
.pages .active-btn i {
  color: white !important;
}
.pages .page {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-3);
  width: 4rem;
  height: 4rem;
  border-radius: 50px 100px 35px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.69rem 0;
  border-radius: 63% 37% 43% 57%/55% 48% 52% 45%;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05), 15px 25px 10px rgba(0, 0, 0, 0.1), 15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(255, 255, 255, 0.9);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.pages::before {
  border-radius: 63% 37% 58% 42%/60% 57% 43% 40%;
}
.pages .page:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(120%);
  background: rgba(215, 224, 82, 0.836);
}
.pages i {
  font-size: 1.2rem;
  pointer-events: none;
  color: rebeccapurple;
}

.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}
.header-content .right-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .right-header .image {
  transition: all 19s ease;
  width: 65%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.header-content .right-header img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header-content .left-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 18rem;
}
.header-content .left-header .name {
  font-size: 1rem;
}
.header-content .left-header .name span {
  color: var(--color-4);
}
.header-content .left-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
}

.btn-con {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  cursor: pointer;
  border-radius: 59px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-2);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 2rem;
}
.main-btn .btn-icon {
  background-color: var(--color-2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 2rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.main-btn:hover {
  transition: all 0.4s ease-out;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-2);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}

.skill-box {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4%;
  row-gap: 1%;
  flex-basis: 40%;
  width: 90%;
  height: 95%;
  margin-left: 2%;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
.skill-box .skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  box-shadow: 1px 5px 8px 5px rgba(255, 8, 8, 0.478);
  margin: 1rem;
  width: 6rem;
  height: 6rem;
  aspect-ratio: 1/1;
  border-radius: 10%;
}
.skill-box .skills .skill-logo {
  left: 0;
  width: 3rem;
  height: 3rem;
  opacity: 1 !important;
}
.skill-box .skills .skill-title {
  font-size: 1rem;
  color: var(--color-4);
  text-align: center;
}
.skill-box .skills:hover {
  transform: scale(120%);
}
.skill-box .skill-section {
  background-color: #DA7B93;
  font-size: large;
  z-index: 1;
  margin: auto;
}

.about .about-container {
  border: 2px solid white;
  width: 80%;
  height: 90vh;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-around;
}
.about .about-card {
  min-width: 30%;
  width: 30%;
  height: 50%;
  background-color: #2e151B;
  margin: 2rem;
  bottom: 0;
  position: relative;
  perspective: 50rem;
}
.about .front .back {
  width: 20px;
}/*# sourceMappingURL=style.css.map */